In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time
import seaborn as sns
# Import API key
g_key = os.environ.get('google_api')
gmaps.configure(api_key="g_key")

In [13]:
weather_data = pd.read_csv(r"C:\Users\13106\OneDrive\Desktop\bootcamp\python-api-challenge\python-api-challenge\data\weather_data.csv")
weather_data

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,1604460919,-23.12,-134.97,72.70,81,18,18.95
1,1,Tabou,CI,1604460919,4.42,-7.35,78.15,88,12,8.08
2,2,Busselton,AU,1604460919,-33.65,115.33,72.00,35,67,7.40
3,3,Leh,IN,1604460919,34.17,77.58,32.63,66,68,2.44
4,4,Norman Wells,CA,1604460782,65.28,-126.83,-2.20,77,75,3.36
...,...,...,...,...,...,...,...,...,...,...
571,571,Lewistown,US,1604460855,40.60,-77.57,37.40,81,1,4.16
572,572,Champerico,GT,1604461060,14.30,-91.92,70.00,95,94,1.01
573,573,Necochea,AR,1604461061,-38.55,-58.74,60.01,75,83,17.00
574,574,Elizabeth City,US,1604461061,36.29,-76.25,46.40,75,1,1.83
575,575,Mufulira,ZM,1604461061,-12.55,28.24,65.26,81,82,3.74

In [14]:
# Configure gmaps
#gmaps.configure(api_key=g_key)
# Store latitude and longitude in locations
locations = weather_data[["Latitude", "Longitude"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [15]:
# Plot Heatmap
figure = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
figure.add_layer(heat_layer)

# Display figure
gmaps.figure
figure
#sns.heatmap(figure, annot=True)

Figure(layout=FigureLayout(height='420px'))

In [16]:
max_intensity

100

In [17]:
# Narrow down cities: wind speed less than 10 mph, cloudiness = 0 and max temp 60-80
n_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temperature"] >= 70) & (weather_data["Max Temperature"] <= 80)].dropna()

n_city_df

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
22,22,Astorga,BR,1604460703,-23.23,-51.67,71.60,46,0,2.24
61,61,Lázaro Cárdenas,MX,1604460933,17.96,-102.20,76.84,63,0,3.91
65,65,Sur,OM,1604460934,22.57,59.53,77.25,27,0,3.31
87,87,Ormara,PK,1604460940,25.21,64.64,75.78,27,0,3.38
88,88,Bāglung,NP,1604460941,28.27,83.59,74.10,31,0,3.22
92,92,Gunjur,GM,1604460942,13.20,-16.73,77.00,94,0,9.17
96,96,Saint-Philippe,RE,1604460943,-21.36,55.77,73.40,46,0,6.93
104,104,Atar,MR,1604460945,20.52,-13.05,78.19,18,0,9.33
132,132,Salalah,OM,1604460697,17.02,54.09,71.60,56,0,2.24
210,210,Praia,CV,1604460972,14.92,-23.51,73.40,83,0,3.36
215,215,Pasni,PK,1604460973,25.26,63.47,76.86,32,0,8.52
268,268,Chikwawa,MW,1604460985,-16.03,34.80,78.40,71,0,1.50
290,290,Saint-Leu,RE,1604460991,-21.15,55.28,73.40,46,0,6.93
312,312,Beloha,MG,1604460799,-25.17,45.05,77.95,57,0,5.35
313,313,Senador Canedo,BR,1604460996,-16.71,-49.09,71.60,68,0,3.36
423,423,Winneba,GH,1604461023,5.35,-0.62,78.80,94,0,5.82
431,431,Coahuayana Viejo,MX,1604461025,18.73,-103.68,75.31,67,0,2.98
478,478,Gwalior,IN,1604460853,26.22,78.18,76.44,19,0,5.53
497,497,Aquidauana,BR,1604461041,-20.47,-55.79,71.29,52,0,4.25
520,520,Pehowa,IN,1604461047,29.98,76.58,74.46,19,0,2.28
533,533,Morondava,MG,1604461051,-20.28,44.28,77.85,72,0,2.71
546,546,Saint-Pierre,RE,1604461054,-21.34,55.48,73.40,46,0,6.93

In [18]:
# make hotel_df
hotel_df = n_city_df.loc[:,["City","Country", "Latitude", "Longitude"]]
# Add "Hotel Name" column to DataFrame.
hotel_df["Hotel Name"] = ""
hotel_df

                 City Country  Latitude  Longitude Hotel Name
22            Astorga      BR    -23.23     -51.67
61    Lázaro Cárdenas      MX     17.96    -102.20
65                Sur      OM     22.57      59.53
87             Ormara      PK     25.21      64.64
88            Bāglung      NP     28.27      83.59
92             Gunjur      GM     13.20     -16.73
96     Saint-Philippe      RE    -21.36      55.77
104              Atar      MR     20.52     -13.05
132           Salalah      OM     17.02      54.09
210             Praia      CV     14.92     -23.51
215             Pasni      PK     25.26      63.47
268          Chikwawa      MW    -16.03      34.80
290         Saint-Leu      RE    -21.15      55.28
312            Beloha      MG    -25.17      45.05
313    Senador Canedo      BR    -16.71     -49.09
423           Winneba      GH      5.35      -0.62
431  Coahuayana Viejo      MX     18.73    -103.68
478           Gwalior      IN     26.22      78.18
497        Aquidauana      BR    -20.47     -55.79
520            Pehowa      IN     29.98      76.58
533         Morondava      MG    -20.28      44.28
546      Saint-Pierre      RE    -21.34      55.48

In [21]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : "g_key"}

In [22]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Latitude"]
    lng = row["Longitude"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 22: Astorga.
Closest hotel in Astorga is Astorga Park Hotel.
------------
Retrieving Results for Index 61: Lázaro Cárdenas.
Closest hotel in Lázaro Cárdenas is Hotel de Casablanca.
------------
Retrieving Results for Index 65: Sur.
Closest hotel in Sur is Sur Plaza Hotel.
------------
Retrieving Results for Index 87: Ormara.
Closest hotel in Ormara is Alqadri hotel zero point ormara.
------------
Retrieving Results for Index 88: Bāglung.
Closest hotel in Bāglung is Hotel Peace Palace, Baglung, Nepal.
------------
Retrieving Results for Index 92: Gunjur.
Closest hotel in Gunjur is Dalaba Eco-Lodge.
------------
Retrieving Results for Index 96: Saint-Philippe.
Closest hotel in Saint-Philippe is Les Embruns Du Baril.
------------
Retrieving Results for Index 104: Atar.
Closest hotel in Atar is Odar kanawal.
------------
Retrieving Results for Index 132: Salalah.
Closest hotel in Salalah is Atana Stay Salalah.
------------
Retrieving Results for Index 210: Praia.
Closest hotel in Praia is Hotel Oasis Atlantico Praiamar.
------------
Retrieving Results for Index 215: Pasni.
Closest hotel in Pasni is Juddi Hotel.
------------
Retrieving Results for Index 268: Chikwawa.
Closest hotel in Chikwawa is Thawale Lodge.
------------
Retrieving Results for Index 290: Saint-Leu.
Closest hotel in Saint-Leu is Iloha Seaview Hotel.
------------
Retrieving Results for Index 312: Beloha.
Missing field/result... skipping.
------------
Retrieving Results for Index 313: Senador Canedo.
Missing field/result... skipping.
------------
Retrieving Results for Index 423: Winneba.
Closest hotel in Winneba is Windy Bay Guest House.
------------
Retrieving Results for Index 431: Coahuayana Viejo.
Closest hotel in Coahuayana Viejo is Hotel Los Arcos.
------------
Retrieving Results for Index 478: Gwalior.
Closest hotel in Gwalior is Taj Usha Kiran Palace, Gwalior.
------------
Retrieving Results for Index 497: Aquidauana.
Closest hotel in Aquidauana is Hotel Aruanã - Anastacio MS.
------------
Retrieving Results for Index 520: Pehowa.
Closest hotel in Pehowa is OYO 63829 Hotel Blue Heaven.
------------
Retrieving Results for Index 533: Morondava.
Closest hotel in Morondava is Palissandre Cote Ouest resort & SPA.
------------
Retrieving Results for Index 546: Saint-Pierre.
Closest hotel in Saint-Pierre is LODGE PALMAE.
------------
-------End of Search-------

In [23]:
hotel_df

,City,Country,Latitude,Longitude,Hotel Name
22,Astorga,BR,-23.23,-51.67,Astorga Park Hotel
61,Lázaro Cárdenas,MX,17.96,-102.20,Hotel de Casablanca
65,Sur,OM,22.57,59.53,Sur Plaza Hotel
87,Ormara,PK,25.21,64.64,Alqadri hotel zero point ormara
88,Bāglung,NP,28.27,83.59,"Hotel Peace Palace, Baglung, Nepal"
92,Gunjur,GM,13.20,-16.73,Dalaba Eco-Lodge
96,Saint-Philippe,RE,-21.36,55.77,Les Embruns Du Baril
104,Atar,MR,20.52,-13.05,Odar kanawal
132,Salalah,OM,17.02,54.09,Atana Stay Salalah
210,Praia,CV,14.92,-23.51,Hotel Oasis Atlantico Praiamar
215,Pasni,PK,25.26,63.47,Juddi Hotel
268,Chikwawa,MW,-16.03,34.80,Thawale Lodge
290,Saint-Leu,RE,-21.15,55.28,Iloha Seaview Hotel
312,Beloha,MG,-25.17,45.05,
313,Senador Canedo,BR,-16.71,-49.09,
423,Winneba,GH,5.35,-0.62,Windy Bay Guest House
431,Coahuayana Viejo,MX,18.73,-103.68,Hotel Los Arcos
478,Gwalior,IN,26.22,78.18,"Taj Usha Kiran Palace, Gwalior"
497,Aquidauana,BR,-20.47,-55.79,Hotel Aruanã - Anastacio MS
520,Pehowa,IN,29.98,76.58,OYO 63829 Hotel Blue Heaven
533,Morondava,MG,-20.28,44.28,Palissandre Cote Ouest resort & SPA
546,Saint-Pierre,RE,-21.34,55.48,LODGE PALMAE

In [24]:
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [25]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
figure.add_layer(markers)

# Display Map
figure

Figure(layout=FigureLayout(height='420px'))